body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #ede3d8;
}
header {
    background: #f4f4f4;
    padding: 20px;
    text-align: center;
    background-image: url('img/mask.jpg');
    background-size: contain;
}
header img {
    max-width: 300px;
}
nav {
    margin-top: 10px;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 25px;
    font-family: 'Playwrite It Moderna';
    font-weight: bold;
}
nav a:hover {
    color: #887054;
}
.hero {
    background: url('img/cenarios.jpg') no-repeat center center/cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 20px;
}
.hero h1 {
    font-size: 3em;
    margin: 0;
}
.hero p {
    font-size: 1.2em;
}
.hero button {
    background: #887054;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1em;
    cursor: pointer;
}
.hero button:hover {
    color: #887054;
    background-color: #fdfdfd;
}
.services, .about, .testimonials, .gallery, .contact {
    padding: 50px 20px;
    text-align: center;
    color: #333;
}
.services h2, .about h2, .testimonials h2, .gallery h2, .contact h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}
.services ul {
    list-style: none;
    padding: 0;
}
.services li {
    margin-bottom: 10px;
}
.services ul li {
    font-size: 1.5rem;
}
#gallery, #about {
    font-size: 1.5rem;
}
.about img {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
}
.testimonials blockquote {
    font-style: italic;
    margin: 20px 0;
}
.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    max-width: 1163px;
    margin: 0 auto;
}
.images img {
    max-width:250px;
}
.contact form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}
.contact form input, .contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}
.contact form button {
    background: #887054;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
}
.contact p a {
    color: #333;
    text-decoration: none;
    font-size: 25px;
}
.contact p a:hover {
    color: #887054;
}
.contact p svg{
    max-width: 50px;
}
footer {
    background: #887054;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    header {
        height: 200px;
    }
    .hero {
        height: auto;
        padding: 40px 20px;
    }
    .hero h1 {
        font-size: 2em;
    }
    .hero p {
        font-size: 1em;
    }
    nav a {
        display: inline;
        margin: 5px 0;
        padding: 0.5rem;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px;
    }
    nav a {
        font-size: 18px;
    }
    .hero {
        padding: 20px;
    }
    .hero h1 {
        font-size: 1.5em;
    }
    .hero p {
        font-size: 0.9em;
    }
    .hero button {
        padding: 10px 20px;
        font-size: 0.9em;
    }
    .services, .about, .testimonials, .gallery, .contact {
        padding: 20px 10px;
    }
    .contact form button {
        padding: 10px 20px;
        font-size: 0.9em;
    }
}

@media (max-width: 320px) {
    nav a {
        font-size: 12px;
        padding: 1px;
    }
}